<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <title>Título</title>
</head>
<body>
    <div class='main-content'>
        {{>header}}

        <h2>Use a pesquisa abaixo para descobrir o clima!</h2>

        <form>
            <input placeholder="Digite o local">
            <button>Pesquisar</button>
        </form>

        <p id="nomeLugar"></p>
        <p id="forecast"></p>
    </div>

    {{> footer}}

    <script src="/js/app.js"></script>
</body>
</html>